<asp-header data-header="resa.header"></asp-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase">En 2017, on mange « <strong>Brasil</strong> » !</h2>
            <p>
                Comme en 2015 et 2016, nous vous proposons cette année <strong>2 plats au choix</strong>, que ce soit
                le samedi ou le dimanche. Ces plats sont accompagnés du fromage, d'un dessert (au choix lui aussi), et du café, le tout pour <strong>15€</strong>, prix inchangé par rapport aux années précédentes. Et comme toujours, <strong>les places sont limitées</strong>.
            </p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <div class="heading heading-primary heading-border heading-bottom-border">
                        <h3>2 plats</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>2 plats typiques du Brésil, testés et approuvés, vous seront proposés durant ces deux jours :</p>
                    <ul class="list list-icons list-icons-sm">
                        <li ng-repeat="meal in resa.meals"><i class="fa fa-caret-right"></i><strong>{{ ::meal }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row visible-xs-block visible-sm-block mt-md"></div>
            <div class="row">
                <div class="col-md-5">
                    <div class="heading heading-primary heading-border heading-bottom-border">
                        <h3>2 desserts</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Pour accompagner les plats, vous pourrez choisir là aussi entre deux recettes typiquement brésiliennes :</p>
                    <ul class="list list-icons list-icons-sm">
                        <li><i class="fa fa-caret-right"></i><strong>Tarte à la banane meringuée</strong></li>
                        <li><i class="fa fa-caret-right"></i><strong>« Le brésilien » (gâteau au café)</strong></li>
                    </ul>
                    <!-- <p>Nous n'avons pas encore tranché concernant les desserts, mais les infos seront disponibles dès les réservations ouvertes :)</p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <br>
            <p>Le samedi soir, vous pourrez profiter après votre repas d'un concert <i>saaaaaamba</i> avec le
                bien nommé groupe <strong>Samba Color</strong>, tandis que le dimanche sera animé par Michel Devaux sur des rythmes <i>bossa nova</i>, ainsi que par le spectable-revue <strong>« Samba Show »</strong> de la compagnie <strong>Meu Brasil</strong>.</p>
        </div>
        <div class="col-md-3">
            <a ui-sref="programme" class="btn btn-md mt-lg btn-primary">Le programme complet</a>
            <span class="arrow hrt" style="left: -30px;"></span>
        </div>
    </div>

    <div class="divider divider-primary">
        <i class="fa fa-chevron-down"></i>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- <h2 class="text-uppercase"><strong>Réserver</strong></h2> -->
            <h2 class="text-uppercase"><strong>Réserver</strong> (dernières places)</h2>
            <!-- <p>Les réservations ne sont pas encore ouvertes, vous pouvez vous inscrire à notre newsletter ci-dessous ou nous suivre sur Facebook pour être tenu(e) au courant :)</p> -->
            <!-- <p>Première solution pour réserver les dernières places disponibles : vous pouvez vous rendre à <a href="http://www.tourisme-aurignac.com/"
                title="Site internet de l'Office de Tourisme" target="_blank">l'Office de Tourisme des Terres d'Aurignac</a>.
                Seconde solution, <strong>directement en ligne via Paypal</strong>, ci-dessous :</p> -->
            <p>Vous pouvez réserver les toutes dernières places <strong>directement en ligne via Paypal</strong> ci-dessous, ou si vous êtes joueur rendez-vous sur place, mais sans garantie de disponibilité ;)</p>
            <!-- <p>Comme d'habitude, deux possibilités s'offrent à vous pour réserver les repas. Première solution, via <a href="http://www.tourisme-aurignac.com/"
                    title="Site internet de l'Office de Tourisme" target="_blank">l'Office
                de Tourisme des Terres d'Aurignac</a> : vous pouvez soit vous rendre sur place (Avenue de Boulogne, 31420 Aurignac) soit renvoyer l'un des deux (ou les deux) formulaires suivants, accompagné(s) d'un chèque correspondant au montant total des repas.
                <ul class="list list-icons list-icons-sm">
                    <li ng-if="!resa.repas[0].disabled">
                        <i class="fa fa-caret-right"></i><a href="assets/Aurignac sous pression - Bulletin d'inscription au repas du 7 octobre 2017.pdf"
                            target="_blank">Bulletin d'inscription au repas du samedi soir 7 octobre</a>
                    </li>
                    <li ng-if="!resa.repas[1].disabled">
                        <i class="fa fa-caret-right"></i><a href="assets/Aurignac sous pression - Bulletin d'inscription au repas du 8 octobre 2017.pdf"
                            target="_blank">Bulletin d'inscription au repas du dimanche midi 8 octobre</a>
                    </li>
                </ul>
            </p>
            <p>
                Seconde solution pour réserver vos repas, <strong>directement en ligne via Paypal</strong>, ci-dessous :
            </p> -->
        </div>
    </div>

    <div class="row featured-boxes featured-boxes-style-8">
        <div class="col-md-6">
            <div class="featured-box featured-box-primary featured-box-text-left" style="margin-top: 20px; margin-bottom: 20px">
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Repas du samedi soir : 15€</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-if="!resa.repas[0].disabled">
                            <div ng-repeat="meal in resa.meals">
                                <div class="btn-group mb-xs mr-xs" role="group">
                                    <button type="button" class="btn btn-primary btn-xs" title="Ajouter" ng-click="resa.addRepas(0, $index)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" title="Retirer" ng-click="resa.removeRepas(0, $index)" ng-disabled="!resa.repas[0].meals[$index]">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                {{ ::meal }}
                            </div>
                            <p style="margin-top: 10px; font-style: italic;">Vous pourrez faire le choix du dessert sur place.</p>
                        </div>
                        <div class="col-md-12" ng-if="resa.repas[0].disabled">
                            <h3>INSCRIPTIONS TERMINEES !</h3>
                            <p style="margin-top: 10px; font-style: italic;">Les tous derniers repas seront disponibles directement sur place, et de la restauration rapide sera également disponible :)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="featured-box featured-box-quaternary featured-box-text-left" style="margin-top: 20px; margin-bottom: 20px">
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Repas du dimanche midi : 15€</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-if="!resa.repas[1].disabled">
                            <div ng-repeat="meal in resa.meals">
                                <div class="btn-group mb-xs mr-xs" role="group">
                                    <button type="button" class="btn btn-quaternary btn-xs" title="Ajouter" ng-click="resa.addRepas(1, $index)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" title="Retirer" ng-click="resa.removeRepas(1, $index)" ng-disabled="!resa.repas[1].meals[$index]">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                {{ ::meal }}
                            </div>
                            <p style="margin-top: 10px; font-style: italic;">Vous pourrez faire le choix du dessert sur place.</p>
                        </div>
                        <div class="col-md-12" ng-if="resa.repas[1].disabled">
                            <h3>INSCRIPTIONS TERMINEES !</h3>
                            <p style="margin-top: 10px; font-style: italic;">Les tous derniers repas seront disponibles directement sur place, et de la restauration rapide sera également disponible :)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="resa.repas && resa.repas[0].quantity || resa.repas[1].quantity">
        <div class="col-md-12" style="text-align: right;">
            <br>
            <h3>Récapitulatif</h3>

            <div ng-repeat="repas in resa.repas" ng-if="!repas.disabled" class="mb-sm">
                <div><i>{{ ::repas.name }} : {{ repas.quantity * repas.price || 0 }}€</i></div>
                <div ng-repeat="meal in resa.meals">- {{ ::meal }} : <strong>{{ repas.meals[$index] }}</strong></div>
            </div>

            <div><i>Frais Paypal (3,4% + 0.25€) : {{ resa.paypalAmount }}€</i></div>
            <div><strong>TOTAL : {{ resa.repas[0].quantity * resa.repas[0].price + resa.repas[1].quantity * resa.repas[1].price + resa.paypalAmount }}€</strong></div>

            <div style="margin-top: 25px; margin-bottom: 20px;">
                <div id="t1">
                    <paypal-button
                        env="resa.paypal.env"
                        client="resa.paypal.client"
                        payment="resa.paypal.payment"
                        commit="resa.paypal.commit"
                        on-authorize="resa.paypal.onAuthorize">
                    </paypal-button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><i><strong>A savoir</strong> : Paypal nous impose des frais qui s'élèvent à 3,4% + 0,25€ par transaction que nous ne pouvons pas nous permettre de prendre à notre charge étant donné le budget de notre association.
            Ces frais vous sont donc répercutés et indiqués au niveau du montant total. Evidemment en cas de paiement à l'Office de Tourisme par chèque ou liquide, ces frais ne sont pas applicables.</i></p>
        </div>
    </div>

</div>
