<asp-header data-header="::brassage.header"></asp-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="visible-sm-block" style="float: right;">
                <img src="img/2015/brassage.jpg" class="img-thumbnail ml-md mb-md" style="max-width: 300px;" alt="Brassage 2014" title="Brassage 2014">
            </div>
            <p>
                Suite au succès remporté chaque année par les séances de brassage participatif, on remet le couvert en 2018 avec une nouvelle session prévue <strong>le dimanche dès 10h00</strong>. Accompagnés par deux brasseurs amateurs de notre association, vous pourrez créer votre propre bière et découvrir toutes les étapes d'un brassage réussi !
            </p>
            <p>
                Le top du top, c'est que <strong>vous recevrez ensuite le fruit de votre labeur</strong> sous la forme de
                5 bouteilles 75cl :). Pour couvrir nos frais, nous vous demanderons une participation de <strong>10€</strong> par personne,
                à payer sur place. Attention, <strong>les places sont (très) limitées</strong> ! Pour toute question, merci d'utiliser notre <a ui-sref="contact">formulaire de contact</a>.
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8">

            <div class="offset-anchor" id="contact-sent"></div>
            <div class="alert alert-success" id="contactSuccess" ng-if="brassage.success">
                <strong>Inscription enregistrée !</strong> Vous devriez recevoir d'ici quelques minutes une confirmation
                à l'adresse mail indiquée. Pensez à regarder dans vos spams si vous n'avez rien reçu d'ici 15 minutes.
                <strong>En cas d'impossibilité de participer, merci de nous en informer</strong>
                soit en répondant au mail de confirmation soit en utilisant le <a ui-sref="contact">formulaire de contact</a>.
            </div>
            <div class="alert alert-danger" id="contact-error" ng-if="brassage.failure">
                <strong>Une erreur est survenue !</strong> Veuillez vérifier les données saisies ou essayez de recharger
                la page. Si le problème persiste, vous pouvez nous contacter via notre <a ui-sref="contact">formulaire de contact</a>.
            </div>

            <h2 class="mb-sm mt-sm text-uppercase">Inscription : Dimanche 7 Octobre - 10h00</h2>
            <!-- <p><i>Les inscriptions sont terminées pour cette année, le quota de places disponibles a été rempli. Rendez-vous en 2018 pour un nouveau brassage participatif ;)</i></p> -->
            <form name="brassageForm" ng-submit="brassage.send()" novalidate>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Votre nom *</label>
                            <input type="text" ng-model="brassage.form.username" maxlength="100" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Votre adresse mail *</label>
                            <input type="email" ng-model="brassage.form.email" maxlength="100" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <!-- <div class="col-sm-6">
                            <label>Date *</label>
                            <select name="date" id="date" class="form-control" ng-model="brassage.form.day"
                                ng-options="day.value as day.label for day in brassage.options.days" required></select>
                        </div> -->
                        <div class="col-sm-6">
                            <label>Nombre de personnes *</label>
                            <select name="date" id="date" class="form-control" ng-model="brassage.form.number"
                                ng-options="number as number for number in brassage.options.people" required></select>
                        </div>
                    </div>
                </div>

                <div class="row mt-md">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div vc-recaptcha key="'6LfA7MMSAAAAAM7oAh1CzSXPoTOYkfrEl4EIc6KP'" on-success="brassage.setCaptchaResponse(response)"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" id="brassageFormSubmit" value="Je m'inscris" class="btn btn-primary btn-lg pull-right mb-sm" ng-disabled="brassageForm.$invalid">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 hidden-sm">
            <img src="img/2015/brassage.jpg" alt="Brassage 2014" class="img-thumbnail mt-lg" title="Brassage 2014">
        </div>
    </div>

</div>
